<div id="sidebar">
    <div id="sidebar__profile_btn" class="sidebar__debug_location" onclick="window.location = 'profile.html'"></div>
    <div id="sidebar__vsitor_btn" class="sidebar__debug_location" onclick="window.location = 'visitor.html'"></div>
    <div id="sidebar__message_btn" class="sidebar__debug_location" onclick="window.location = 'message.html'"></div>
    <div id="sidebar__contact_us_btn" class="sidebar__debug_location" onclick="window.location = 'contact_us.html'"></div>
    <div id="sidebar__faq_btn" class="sidebar__debug_location" onclick="window.location = 'faq.html'"></div>
    <div id="sidebar__how_to_btn" class="sidebar__debug_location" onclick="window.location = 'how_to.html'"></div>
    <div id="sidebar__logout_btn" class="sidebar__debug_location" onclick="window.location = 'index.html'"></div>
</div>