<div id="sidebar">
    <a href="#!/profile"><div id="sidebar__profile_btn" class="sidebar__debug_location"></div></a>
    <a href="#!/visitor"><div id="sidebar__vsitor_btn" class="sidebar__debug_location"></div></a>
    <a href="#!/message"><div id="sidebar__message_btn" class="sidebar__debug_location"></div></a>
    <a href="#!/contact_us"><div id="sidebar__contact_us_btn" class="sidebar__debug_location"></div></a>
    <a href="#!/faq"><div id="sidebar__faq_btn" class="sidebar__debug_location"></div></a>
    <a href="#!/how_to"><div id="sidebar__how_to_btn" class="sidebar__debug_location"></div></a>
    <a href="#/!"><div id="sidebar__logout_btn" class="sidebar__debug_location"></div></a>
</div>