<link rel="stylesheet" type="text/css" href="css/index.css" />
<div class="app">
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <div class="class=" masthead-brand"">
                            <!--<div><img style='width:auto;height:500px;' src="img/Welcome-bg2.jpg"  /></div>-->
                        </div>

                    </div>
                </div>

                <div class="inner cover">
                    <p class="lead"></p>
                    <!--<h2 class="cover-heading">
                        <img style='width:100px;height:auto; margin-right:10px;' src="img/search-icon.jpg" />
                        <span>Lost &amp;<br /> Found</span><br/>

                        <span class="iwt">
                            <span>Lost & Found.</span>
                            <i class="pull-left"><img src="img/search-icon.jpg" class="img-responsive"/></i>
                        </span>

                        </h2>
                    <br/>-->

                    <p class="lead">
                        <a href="#!signIn" class="btn btn-danger">SIGN IN</a>
                    </p>
                    <p class="lead">
                        <a href="#!visitor" class="btn btn-secondary btn-transparent" id="visitor">VISITOR</a>
                    </p>
                    <p class="lead footer">
                        Copyright 	&#9400; 2017 Ressphere
                    </p>
                    </p>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <!--<center><p>Copyright 	&#9400; 2017 Ressphere</p></center>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>