.btn{
  border: 2px solid;
  border-radius: 25px;
}

.btn-transparent
{
  opacity: 0.5;
}

.bg-red {
    background-color: #d2232a;
}

.navbar-center {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    color: #F1BCBE;
}

/* This is to consolidate font type and size*/
.general_input_font {
    color: black;
    text-align: left;
    font-size:12px;
}

.general_input_str_box {
    opacity: .5;
    border: hidden;
    width:100%
}