
#hot_to__wrapper {
    display: table;
    width: 100%;
    height: 500px; /* For at least Firefox */
    min-height: 100%;
    background: url(../img/tutorial.jpg) no-repeat;
    background-size: auto;
    background-position: center center;
    background-size: auto 100%;
}

